body{
  background-image:url(https://images3.alphacoders.com/960/96089.jpg);
  height: 100%;
  width: 100%;
}
h1{
  color: white;

}
a {
  color: white;

}
#cdm{
  color: white;
}
#cdt{
  color: white;
}
ul{
  color: white;
}
